/*body*/
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a.imgLink {
  position: fixed;
  top: 0;
  height: 35px;
  margin: 7.5px;
  border-radius: 20px;
  z-index: 1;
}

a.imgLink img {
  width: 35px;
  height: 35px;
}

#bodyContainer {
  min-width: 350px;
  max-width: 675px;
  width: calc(100vw - 200px);
  margin: 85px 0 35px 0;
  padding: 35px 50px 50px 50px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

#bodyContainer h2 {
  margin: 0 0 10px 0;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  color: var(--primary-color);
}

.eventListContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventCard {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 20px);
  margin: 10px 0;
  padding: 0px 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.eventInfo {
  padding: 0 10px 0 0;
}

.eventOpen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.eventOpen a {
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  font-weight: 500;
  border-radius: 2px;
  transition: background-color 0.35s ease-in-out;
}

@media (hover: hover) {
  .eventOpen a:hover {
    background-color: var(--primary-dark);
  }
}

#bodyContainer > .eventListContainer:nth-child(2) {
  margin-top: 50px;
}

.eventActions {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.eventActions a {
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  margin: 0 0 0 10px;
  font-weight: 500;
  border-radius: 2px;
  transition: background-color 0.35s ease-in-out;
}

.eventActions > a:nth-child(1) {
  background-color: var(--danger-color);
}

@media (hover: hover) {
  .eventActions a:hover {
    background-color: var(--primary-dark);
  }

  .eventActions > a:nth-child(1):hover {
    background-color: var(--danger-dark);
  }
}

/* Mobile */
@media only screen and (max-width: 500px) {
  body {
    background-color: white;
    font-size: 12px;
  }

  #bodyContainer {
    padding: 50px 0;
    margin: 35px 0 0 0;
    border-radius: 0;
    box-shadow: none;
    align-items: center;
    min-width: 0;
    max-width: none;
    width: 80vw;
  }

  #bodyContainer h2 {
    font-size: 2rem;
  }
}
