:root {
  --primary-color: #28539f;
  --primary-dark: #0f2140;
  --danger-color: #cc0000;
  --danger-dark: #800000;
  --grey-accent: #c0c5c1;
  --grey-accent-light: #e0e5e1;
  --off-white: #fafafa;
}

/*body*/
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* background-color: var(--primary-color); */
}

h1,
h2,
h3,
p,
a,
label,
input,
select,
textarea,
button,
input#googleSignInBtn.ais-button {
  font-family: "Open Sans", sans-serif;
}

/* To color an SVG green */
.filter-green {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.filter-white {
  filter: invert(98%) sepia(100%) saturate(7%) hue-rotate(182deg) brightness(101%) contrast(100%);
}

.no-margin {
  margin: 0;
}

.hidden {
  display: none;
}

#root nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  padding: 0 25px;
  background-color: var(--primary-dark);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: white;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 3px 10px;
  cursor: pointer;
  transition: border 0.3s ease-in-out;
}

#signOutBtn,
#userProfileBtn {
  color: white;
  background-color: transparent !important; /* Force the background to be transparent */
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 3px 10px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  text-align: center; /* Ensure text is centered as it usually is in links */
  -webkit-appearance: none; /* Remove default browser styling in WebKit browsers */
  -moz-appearance: none; /* Remove default browser styling in Mozilla browsers */
  appearance: none; /* Remove default browser styling */
  transition: border 0.3s ease-in-out;
}

#signOutBtn.ais-button {
  margin: 0;
}

nav button:hover,
nav button:focus {
  border-color: white; /* Optional: change border color on hover/focus */
  background-color: rgba(255, 255, 255, 0.1); /* Optional: slight background color on hover/focus for visual feedback */
}

@media (hover: hover) {
  nav a:hover {
    border: 1px solid white;
  }

  #signOutBtn:hover {
    border: 1px solid white;
  }
}

a.imgLink {
  position: fixed;
  top: 0;
  height: 35px;
  margin: 7.5px;
  padding: 0;
  border-radius: 20px;
  z-index: 1;
}

a.imgLink img {
  width: 35px;
  height: 35px;
}

/* footer {
  width: calc(100vw - 200px);
  height: 100px;
  margin: 100px 0 0 0;
  padding: 0 100px 0 100px;
  background-color: var(--grey-accent);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p,
footer a {
  color: white;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
}

footer a:hover {
  color: var(--primary-color);
  cursor: pointer;
} */
